# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\yangwoo\Desktop\school\githubtoday\today-i-learned\today-i-learned\coroutineTest\Cancellation and Timeouts\Cancellation and Timeouts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
